<div class="row">
    <div class="col-3">
        <app-produto-filter [categoria]='categoria' (pesquisaResposta)="getResponse($event)"></app-produto-filter>
    </div>
    <div class="col-9">
        <div class="row">
            <ng-container *ngFor='let p of produtosFiltrados | filter: chaveDePesquisa; index as i'>
                <div class="col-4">
                    <app-produto-card [produto]="p"></app-produto-card>
                </div>
                <div *ngIf="(i+1) % 3 === 0" class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>