<mat-toolbar color="primary" class="fixed-top">
    <mat-toolbar-row>
        <button mat-button routerLink="#" class="h4">
			Loja
		</button>

        <span class="example-spacer"></span>

        <div>
            <button mat-button routerLink="#">
				<mat-icon class="example-icon" aria-hidden="false" aria-label="cart icon">shopping_cart</mat-icon>
				<span>
					Carrinho
				</span>
				<span class="badge badge-warning badge-pill">
					
				</span>
			</button>
            <ng-template #anonymousUser>
                <button mat-icon-button routerLink="#">Entrar</button>
            </ng-template>
            <ng-container>
                <button mat-button>
					<mat-icon class="example-icon" aria-hidden="false" aria-label="settings icon">settings_applications</mat-icon>
				</button>

                <mat-menu #menuBar="matMenu" hasBackdrop="true">

                    <button mat-menu-item>
						Meus Pedidos
					</button>
                    <ng-container>
                        <button mat-menu-item routerLink="#">Gerenciar Pedidos</button>
                        <button mat-menu-item routerLink="#">Gerenciar Produtos</button>
                    </ng-container>
                    <button mat-menu-item (click)="sair()">Sair</button>
                </mat-menu>
            </ng-container>
        </div>
    </mat-toolbar-row>
</mat-toolbar>