<div *ngIf="produto.titulo" class="card mb-4">
    <img [class.card-img-top]="showActions" [src]="produto.imagemUrl" [alt]="produto.titulo" *ngIf='produto.imagemUrl'>
    <div class="card-body d-flex justify-content-between">
        <div>
            <h5 class="card-title"> {{ produto.titulo }}</h5>
            <p class="card-text"> {{ produto.preco | currency: 'INR': 'symbol-narrow' }}</p>
        </div>
        <div>
            <button mat-icon-button aria-label="Editar Detalhes">
				<mat-icon>edit</mat-icon>
			</button>
        </div>
    </div>
    <div class="card-footer p-0">
        <button mat-button class="btn btn-secondary btn-block">
			Add Carrinho
		</button>
        <ng-template>

        </ng-template>
    </div>
</div>